$color: #5c5a5a;
$blue: #517cd1;
$darkestBlue: #3862b7;
$bg: #e3e3ff;
$white: #f6f6ff;
$darkestWhite: #cecee6;
$success: #92b84e;
$error: #bf5e5e;
$red: #d95a5a;
$shadow:1px 2px 5px 1px #b2bbd0;
$regularWeight:400;
$mediumWeight:600;
$boldWeight:700;
$extraBoldWeight:900;
$smallRadius:6px;
$mediumRadius:12px;
$small:14px;
$medium:17px;
$large:22px;
$extra:30px;
$mega:35px;