@import "../../styles/Variables";
@import "../../styles/Mixins";

.load-more-btn {
   min-width: 130px;
   height: 50px;
   background-color: $blue;
   color: $bg;
   border-radius: $smallRadius;
   @include button();
   font-size: $medium;
   font-weight: $mediumWeight;
   text-transform: capitalize;
   @include flexAlignCenter();
   justify-content: center;
   gap: 3px;
   padding: 0 15px;
   margin: auto;

   &:disabled {
      opacity: .5;
      pointer-events: none;
   }
}

